<div class="jumbotron">
  <h1>Geddit</h1>
  <p>
    Geddit is like reddit, but better! I love reddit but I think it could be improved, so I did just that. Before you get started you'll need an account. You can start below!</p>
    <p>Geddit is inspired by a very popular place that has been dubbed, "the front page of the internet". I am a big fan of Reddit, but there are a few things that I feel are missing. So I went on a mission to recreate it. During this project I realized how much work is actually behind reddit. Here are a few features I have added, Email notifications, facebook login and markdown. </p>
  <p>
    <%= link_to "Sign In", new_user_session_path, class: 'jbtn jbtn-blue btn-large' %> or 
    <%= link_to "Sign Up", new_user_registration_path, class: 'jbtn jbtn-blue btn-large' %> today!
  </p>
</div>