/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require_tree .
 */

@import "twitter/bootstrap";

// Uninversal Buttons
.jbtn {
	border: 0px;
	display: inline-block;
	padding: 12px 18px 13px;
	margin-bottom: 5px;
	font-size: 16.5px;
	line-height: 20px;
	color: white;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}
// Base Application Colors..

// Blue
.blumo {
	background-color: rgb(54, 127, 255);
}

// Green
.green {
	background-color: rgb(0, 221, 0);
}
// Grey?
.jbtn-grey {
	background-color: #f3f3f3;
	color: black;
}

// Button effects
.blumo:hover {
	background-color: rgb(54, 100, 255);
	color: white;
}
