// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.commentarea {
	resize: none;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.addCommentbump {
	position: relative;
	float: right;
	width: 18% !important;
	bottom: 100px;
}