// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}
.none {
  display: none;
}
.footerleft {
	padding: 20px;
	float: left;
}
.postcontainer {
	position: relative;
	width: 90%;
	padding: 50px;
}
.postbody {
	font-family: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.45;
	color: #333332;
}
.blockbuttons {
	width: 33%;
	margin-right: auto;
	margin-left: auto;
}
.bumptitle {
	position: relative;
	bottom: 15px;
}
.avatar {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 2px solid grey;
	margin-bottom: 10px;
}
.border {
	border: 5px solid rgba(255,255,255,0.5);
	border-radius: 50%;
	height: 50px;
	width: 50px;
	pointer-events: none;
}
.user-info {
  margin-top: 9px;
}
.nav {
  margin-top: 5px;
  .bumpright {
  	margin-right: 20px;
  }
  .navatar {
  	float: right;
	position: relative;
	bottom: 10px;
  }
}
.formcontainer {
	width: 460px;
	margin-right: auto;
	margin-left: auto;
}
.vote-arrows {
  width: 40px;
  text-align: center;
	.voted {
  		opacity: 0.5;
  	}
}
.right {
	float: right;
}
.editbump {
	position: relative;
	float: right;
	bottom: 60px;
}